.App {
  text-align: center;
}

table thead tr {
  display: block;
}

table th,
table td {
  width: 170px;
}

table tbody {
  display: block;
  height: 600px;
  overflow: auto;
}

table,
th,
td {
  border-collapse: collapse;
}

th {
  border: 1px solid #ddd;
}

td {
  border: 1px solid #ddd;
}

table {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

th,
td {
  padding: 15px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

span {
  margin-left: 5px;
}
